<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feats - Beyond the expectation </title>
    <!-- FAVICON ICON  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/asset/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/asset/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/asset/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'image/asset/favicon.ico' %}" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap"
        rel="stylesheet">
    <!-- ICONTFONT -->
    <link href="{% static 'css/vendor/icofont.min.css' %}" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <!-- MAGNIFIC POPUP -->
    <link href="{% static 'css/vendor/magnific.css' %}" rel="stylesheet">
    <!-- HEADLINE ANIMATED -->
    <link href="{% static 'css/vendor/headlineanimated.css' %}" rel="stylesheet">
    <!-- OWL CARAOUSEL CSS -->
    <link href="{% static 'css/vendor/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendor/owl.theme.default.min.css' %}" rel="stylesheet">
    <!-- MAIN CSS -->
    <link href="{% static 'css/themes.css' %}" rel="stylesheet">
    <!-- RESPONSIVE CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- PRELOADER -->
    <div class="preloader">
        <div class="ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    <!-- MAIN WRAP -->
    <div class="main-wrap">
        <!-- SMALL MENU -->
        <div class="overlay-fade"></div>
        <div class="wrap-mobilemenu">
            <button id="closesmenu" class="button-menu">
                <i class="icofont-close-squared-alt"></i>
            </button>
        <nav class="menu-mobile">
        </nav>
    </div>
        <!-- HEADER WRAP -->
        <header id="header-wrap">
            <div class="main-headerwrap container">
                <div class="row">
                    
                    <div class="col-lg-9 navigation-big">
                        
                    </div>
                    <button id="openmenu" class="button-menu">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                </div>
            </div>
        </header>
        <!-- END HEADER WRAP -->

        <!-- CONTACT SECTION -->
        <section id="contact-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="contact-form">
                            <div class="title-top">
                                <h3>Registration.</h3>
                            </div>
                            <div class="mini-detail">
                                <p>
                                    We love to enroll you with us.
                                </p>
                            </div>
                            <form action="/registrations/" method="post" accept-charset="utf-8" id="form-contact">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="First Name" name="first_name" required/>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Last Name" name="last_name" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="Email Address" name="email" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="Phone Number" name="phone" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="address" placeholder="Address" name="address" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <select placeholder="Course" id="course" name="course" required />
                                            <option value="" disabled selected>Select your course</option>
                                            <option value="0">Basics to Programming and project management tools</option>
                                            <option value="1">Advance Python / Django</option>
                                            <option value="2">Full Stack API & React JS</option>
                                            <option value="3">Mobile Development with Flutter</option>
                                            <option value="4">Artificial Intelligence and Machine Learning</option>
                                            <option value="5">AWS Cloud Engineering</option>
                                          </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea class="textarea" placeholder="Suggestions / Comments (If any)" name="comment"></textarea>
                                        <button type="submit" class="button-link dark-b llinks">Enroll now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <div class="col-lg-3">
                            <img height="100px" width="100px" src="{% static 'image/asset/logo.png' %}" alt="logo" />
                        </div>
                        <div class="detail-contact">
                            <div class="title-top">
                                <h3>Contact Detail.</h3>
                            </div>
                            <div class="mini-detail">
                                <p>
                                    Leading software company in India and expanding our services and
                                    corporate branches all over the globe.
                                </p>
                            </div>
                            <div class="detail-info">
                                <i class="icofont-map-pins the-icon"></i>
                                <div class="inner-detail">
                                    <p> 1127 Dev Atlier, Prahlad Nagar, Ahmedabad - 380015,
                                        Gujarat, India.</p>
                                </div>
                            </div>
                            <div class="detail-info">
                                <i class="icofont-ui-dial-phone the-icon"></i>
                                <div class="inner-detail">
                                    <p>Hotline<br />
                                        +91 97270 68990</p>
                                </div>
                            </div>
                            <div class="detail-info">
                                <i class="icofont-ui-email the-icon"></i>
                                <div class="inner-detail">
                                    <p>
                                        admin@featsinnovations.in
                                    </p>
                                </div>
                            </div>
                            <div class="sosmed-home foot-sosmed">
                                <ul class="sosmed-list">
                                    <li><a href="#"><i class="icofont-facebook"></i> </a></li>
                                    <li><a href="#"><i class="icofont-linkedin"></i> </a></li>
                                    <li><a href="#"><i class="icofont-youtube"></i> </a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer id="footer-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="wrap-title-foot">
                            <h3><b>Feats Innovations </b> Institite For Software Development</h3>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- SCROLLTOP -->
        <a href="#" class="scroll-top">
            <i class="icofont-arrow-up dropicon">
            </i>
        </a>
    </div>
    <!-- END MAIN WRAP -->
    <!-- JAVASCRIPT JQUERY -->
    <script src="{% static 'javascript/vendor/jquery.js' %}"></script>
    <!-- BOOTSTRAP -->
    <script src="{% static 'javascript/vendor/bootstrap.min.js' %}"></script>
    <!-- MAGNIFIC POPUP -->
    <script src="{% static 'javascript/vendor/magnific.js' %}"></script>
    <!-- OWL CAROUSEL -->
    <script src="{% static 'javascript/vendor/owl.carousel.min.js' %}"></script>
    <!-- ISOTOPE -->
    <script src="{% static 'javascript/vendor/isotope.js' %}"></script>
    <!-- HEADLINE ANIMATED -->
    <script src="{% static 'javascript/vendor/typed.js' %}"></script>
    <!-- JARALLAX -->
    <script src="{% static 'javascript/vendor/jarallax.js' %}"></script>
    <!-- MAIN JAVASCRIPT -->
    <script src="{% static 'javascript/main.js' %}"></script>
</body>

</html>